
@model IEnumerable<TelerikAspNetCoreApp1.Models.Student>
@using Kendo.Mvc.UI

@(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.name).Title("Product Name");
        columns.Bound(p => p.course).Title("Unit Price");
        columns.Bound(p => p.bracnh).Title("Units In Stock");
    })
    .Pageable()
    .Sortable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
     )
)
<hr />
<p> Text Box </p>
@(Html.Kendo().TextBox().Name("textbox").Label(l => l.Content("Name")).Placeholder("name").HtmlAttributes(new {style="width:100px;"}))

@(Html.Kendo().Button().Name("button").ThemeColor(ThemeColor.Primary).Content("Kendo Button "))
@(Html.Kendo().Button().Name("sprite").Icon("Home").Content("button")       )
@(
Html.Kendo().ButtonGroup().Name("buttongroup").Items(t =>
{
    t.Add().Text("day");
    t.Add().Text("Month");
    t.Add().Text("Year");
})
)

@(
Html.Kendo().DropDownButton().Name("default").Text("Paste").Icon("clipboard").Items(items =>
{
    items.Add().Text("keep-text").Icon("clipboard-text");
    items.Add().Text("Paste-as-Html").Icon("clipboard-code");
})
)



@*

<kendo-grid>
<columns>
       <column  field="name" title="Name"> </column>    
       <column  field="course" title="course"> </column>    
       <column  field="branch" title="Branch"> </column>    
</columns>
<datasource type="DataSourceTagHelperType.Ajax" data="@Model"></datasource>
</kendo-grid>

*@